# DEPENDENCIES
_This module, will import all the dependencies for the project_

In [2]:
#Importing Dependencies
import pandas as pd

# LOADING THE DATA

_This Module, performs the following actions_

- Load the "GA_DISTRICT_SCHOOLS_EXPENDITURE_2010-2017.xlsx" file, which contains the **GA** School **expenditure** for all _counties_ from _2010 to 2017_

- Load the "GA_DISTRICT_SCHOOLS_REVENUE_2010-2017.xlsx" file, which contains the **GA** School **expenditure** for all _counties_ from _2010 to 2017_

- Load the "SAT.csv" file, which contains the **SAT Scores** of all the counties between _2010 and 2016_

In [4]:
!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.0 requires cython, which is not installed.

**<font color='blue'>Cleaning the County Expenditure Data</font>**

In [80]:
#Loading the Counties Expenditure

countiesExpenditureDF = pd.read_excel("GA_DISTRICT_SCHOOLS_EXPENDITURE_2010-2017.xlsx")
countiesExpenditureDF.head()

,Year,Sys No,System Name,FTE Reported on2010 QBE Allotment,Instruction,Per FTE Instruction,Pupil Services,Per FTE Pupil Services,Staff Services,Per FTE Staff Services,General Administration,Per FTE General Administration,School Administration,Per FTE School Administration,Transportation,Per FTE Transportation,Maintenance & Operations,Per FTE Maintenance & Operations,Total Expenditure,Per FTE Total Expenditure
0,2010,601,Appling County,3339,20320498.75,6085.80,1074685.44,321.86,1690704.60,506.35,1352295.76,405.00,1703708.14,510.25,1425057.03,426.79,2327922.67,697.19,29894872.39,8953.24
1,2010,602,Atkinson County,1614,9180528.37,5688.06,404243.65,250.46,1106891.06,685.81,754214.77,467.30,727573.06,450.79,663268.62,410.95,959626.59,594.56,13796346.12,8547.92
2,2010,603,Bacon County,1797,9846623.12,5479.48,603037.61,335.58,739382.48,411.45,584481.98,325.25,997056.79,554.85,627800.02,349.36,1117532.49,621.89,14515914.49,8077.86
3,2010,* 604,Baker County,357,3191302.87,8939.22,57079.44,159.89,191866.95,537.44,479678.32,1343.64,444007.66,1243.72,313806.19,879.01,504137.66,1412.15,5181879.09,14515.07
4,2010,605,Baldwin County,5441,31934393.83,5869.21,1340266.71,246.33,2452419.16,450.73,2147748.27,394.73,2771029.44,509.29,2554583.23,469.51,3284108.22,603.59,46484548.86,8543.38

In [81]:
#Selecting the required columns
countiesExpenditureDF = countiesExpenditureDF.iloc[:, [0,1,2,18,19]]
countiesExpenditureDF.head()

   Year Sys No      System Name  Total Expenditure  Per FTE Total Expenditure
0  2010    601   Appling County        29894872.39                    8953.24
1  2010    602  Atkinson County        13796346.12                    8547.92
2  2010    603     Bacon County        14515914.49                    8077.86
3  2010  * 604     Baker County         5181879.09                   14515.07
4  2010    605   Baldwin County        46484548.86                    8543.38

In [83]:
#Changing the Column Name
countiesExpenditureDF = countiesExpenditureDF.rename(columns={"System Name":"County Name", "Sys No": "County ID"})
countiesExpenditureDF.head()

,Year,County ID,County Name,Total Expenditure,Per FTE Total Expenditure
0,2010,601,Appling County,29894872.39,8953.24
1,2010,602,Atkinson County,13796346.12,8547.92
2,2010,603,Bacon County,14515914.49,8077.86
3,2010,* 604,Baker County,5181879.09,14515.07
4,2010,605,Baldwin County,46484548.86,8543.38

**<font color='blue'>Cleaning the County Revenue Data</font>**

In [84]:
#Loading the Counties Revenue

countiesRevenueDF = pd.read_excel("GA_DISTRICT_SCHOOLS_REVENUE_2010-2017.xlsx")
countiesRevenueDF.head()

,Year,Sys No.,System Name,FTE Reported on 2010 QBE Allotment,Local Revenues,Per FTE Local,% Local,State Revenues,Per FTE State,% State,Federal Revenues,Per FTE Federal,% Federal,Total Revenues,Per FTE Total
0,2010,601,Appling County,3339,9373097.06,2807.16,31.54,15364821.39,4601.62,51.71,4977291.23,1490.65,16.75,29715209.68,8899.43
1,2010,602,Atkinson County,1614,2205329.69,1366.38,15.74,8894832.59,5511.05,63.49,2908674.98,1802.15,20.76,14008837.26,8679.58
2,2010,603,Bacon County,1797,2966262.16,1650.67,19.18,9732951.03,5416.22,62.92,2769411.26,1541.13,17.90,15468624.45,8608.03
3,2010,* 604,Baker County,357,1632160.11,4571.88,33.82,1982454.97,5553.10,41.08,1211385.93,3393.24,25.10,4826001.01,13518.21
4,2010,605,Baldwin County,5441,17749204.50,3262.12,37.71,21807604.85,4008.01,46.33,7515276.39,1381.23,15.97,47072085.74,8651.37

In [85]:
#Selecting the required columns
countiesRevenueDF = countiesRevenueDF.iloc[:, [0,1,2,13,14]]
countiesRevenueDF.head()

   Year Sys No.      System Name  Total Revenues  Per FTE Total
0  2010     601   Appling County     29715209.68        8899.43
1  2010     602  Atkinson County     14008837.26        8679.58
2  2010     603     Bacon County     15468624.45        8608.03
3  2010   * 604     Baker County      4826001.01       13518.21
4  2010     605   Baldwin County     47072085.74        8651.37

In [86]:
#Changing the Column Name
countiesRevenueDF = countiesRevenueDF.rename(columns={"System Name":"County Name", "Sys No.": "County ID"})
countiesRevenueDF.head()

   Year County ID      County Name  Total Revenues  Per FTE Total
0  2010       601   Appling County     29715209.68        8899.43
1  2010       602  Atkinson County     14008837.26        8679.58
2  2010       603     Bacon County     15468624.45        8608.03
3  2010     * 604     Baker County      4826001.01       13518.21
4  2010       605   Baldwin County     47072085.74        8651.37

**<font color='blue'>Merging the two dataframes for Revenue & Expenditure</font>**

In [88]:
#Joining two Dataframe
revenueExpenditureDF = countiesRevenueDF.merge(countiesExpenditureDF, how="inner", on= ["Year", "County ID", "County Name"])
revenueExpenditureDF.head()

,Year,County ID,County Name,Total Revenues,Per FTE Total,Total Expenditure,Per FTE Total Expenditure
0,2010,601,Appling County,29715209.68,8899.43,29894872.39,8953.24
1,2010,602,Atkinson County,14008837.26,8679.58,13796346.12,8547.92
2,2010,603,Bacon County,15468624.45,8608.03,14515914.49,8077.86
3,2010,* 604,Baker County,4826001.01,13518.21,5181879.09,14515.07
4,2010,605,Baldwin County,47072085.74,8651.37,46484548.86,8543.38